<div class="container">
  <div class="row">
    <h2>商品一覧</h2>
    <%= link_to "追加", new_admin_item_path %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">商品ID</th>
          <th scope="col">商品名</th>
          <th scope="col">税抜価格</th>
          <th scope="col">ジャンル</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.genre_name %></td>
            <td><%= item.item_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>