<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>
    <%= link_to "カートを空にする","#" %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price %></td>
            <td>
              <%= form_with model: cart_item, url: public_cart_path, method: :patch do |f| %>
                <%= f.select :amount, *[1..10] %>
              <% end %>  
            </td>
            <td><%= "編集中" %></td>
            <td><%= link_to "削除する", public_cart_path(cart_item), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>