<nav class="navbar bg-light navbar-expand-lg">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <img src="assets/logo.jpg" alt="ロゴ">
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>
        <li>
          <%= link_to "マイページ", "#", class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "商品一覧", public_items_path, class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "カート", "#", class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", homes_about_path, class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
        </li>
        <li>
          <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %>
        </li>
      <% end%>
    </ul>
</nav>